/* General Styles */

hr {
  width: inherit;
  height: 15px;
  background-image: url("../img/hr-img.png");
  background-repeat: repeat;
  border: none;
} 

header {
  /* position: sticky; */
  top: 20px;
  background-color: white;
  background-image: url("/img/hr-img.png");
  height: 150px;
}

.header-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex-shrink: 3; */
  height: 125px;
  width: 100%;
  padding-bottom: 10px;
}

.logo-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  margin-bottom: -20px;
}

.text-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 70px;
  align-content: center;
  
}
.logo {
  margin-top: 1rem;
  /* float: left; */
}

#Name {
  width: 10rem;
  height: 8rem;
  margin-bottom: .5rem;
}

header p {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: ultra-condensed;
  font-weight: 10;
  font-size: 12px;
  /* block-size: 20%; */
  vertical-align: bottom;
  margin-left: 13px;
  margin-top: -5px;
  width: 200px;
}

.icon-list {
  /* display: inline-block; */
  /* position: static; */
}

ul {
  list-style: none;
}

.icon-list ul li {
  display: inline;
}

ul {
  list-style: none;
}

h1 {
  font-family: Oswald;
  font-weight: 900;
  margin-bottom: 2px;
  font-stretch: ultra-expanded;
  font-size: 3rem;
}

.article-header {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

span {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: expanded;
  font-size: .75rem;
  color: rgb(179, 178, 178);
}

.article-print{
  display: inline;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-items: right;
  align-items: middle;
  right: 0;
  bottom: 0;
}

#print {
  /* display: inline; */
  /* float:right; */
  margin-right: 3px;
}

#print-text {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: expanded;
  font-size: .75rem;
  color: rgb(179, 178, 178);
  /* display: inline; */
  /* float: right; */
}

.instructions {
  text-indent: 25px;
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: #63666A;
}

.pin-block {
  padding-right: 6.5px;
}

button {
  /* font-family: "Oswald"; */
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  background: #e67c5c;
  color: white;
  padding: 10px 36px;
  float: right;
  border-style: none;
  
}

/* Layout Styles */
body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 900px;
}

body, main {
  width: 100%;
}

/* .icon-list {
  display: inline-block;
  position: relative;
  float: right;
} */

/* .icon-list ul li {
  display: inline;
} */

.hero-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}


.left-list {
  float: left;
  padding-left: 50px;
}

.right-list {
  float: right;
  padding-right: 70px;
}


/* Component Styles */
.ingredient-list {
  font-family: 'Patrick Hand';
  font-weight: 550;
  background-image: url("../img/list-bg.png");
  position: relative;
  background-repeat: repeat;
  width: 100%;
  height: 305px;
}

input[type="checkbox"] {
  background-color: transparent;
}

input[type="checkbox"]:checked {
  background-color: transparent;
}

.bio {
  margin-top: 25px;
  /* border-top: thick; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* display: inline; */
}

.bio-info {
  display: grid;
  /* flex-direction: column; */
  /* justify-content: baseline; */
  /* align-items: left; */
  /* align-content: center; */
  align-items: end;
  margin-right: 5%;
  margin-left: 2%;
  height: 120px;
}

h3 {
  font-size: x-large;
  align-content: end;
  align-self:last baseline;
  color: #63666A;

}
.bio-info p {
  color: #63666A;
  align-content: start;
  font-size: large;
}

.author {
  border-radius: 50%;
  
}

footer {
  height: 350px;
  line-height: 1.5;
  font-size: 12px;
  color: rgb(185, 185, 185);
  text-align: center;
  margin-top: 10%;
  width: 100%;
  align-items: center;
  align-content: center;

};

#footer-text p {
  padding: 10px;
  /* margin-left: 50px; */
}



.dot {
  display: inline-block;
  height: 2px;
  width: 2px;
  background-color: rgb(185, 185, 185);
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 3px;
}

#line {
  border: none;
  border-top: 1px solid rgba(179, 178, 178,.3);
  height: 1px;
  background-color: white;
  background-image: none;
  position: relative;
  width: 100%;
}

footer img {
  position: absolute;
  z-index: 1;
  margin: -25px 00 50%;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.9);
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

#footer-line {
  margin: 4%;
}